In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')
from IPython.display import display
from pandas import ExcelWriter

## Load the Data

In [14]:
wind_data = pd.read_csv('la-haute-borne-data-2013-2016.csv',sep=';')

In [15]:
# List of columns
list(wind_data)

['Wind_turbine_name',
 'Date_time',
 'Ba_avg',
 'Ba_min',
 'Ba_max',
 'Ba_std',
 'Rt_avg',
 'Rt_min',
 'Rt_max',
 'Rt_std',
 'DCs_avg',
 'DCs_min',
 'DCs_max',
 'DCs_std',
 'Cm_avg',
 'Cm_min',
 'Cm_max',
 'Cm_std',
 'P_avg',
 'P_min',
 'P_max',
 'P_std',
 'Q_avg',
 'Q_min',
 'Q_max',
 'Q_std',
 'S_avg',
 'S_min',
 'S_max',
 'S_std',
 'Cosphi_avg',
 'Cosphi_min',
 'Cosphi_max',
 'Cosphi_std',
 'Ds_avg',
 'Ds_min',
 'Ds_max',
 'Ds_std',
 'Db1t_avg',
 'Db1t_min',
 'Db1t_max',
 'Db1t_std',
 'Db2t_avg',
 'Db2t_min',
 'Db2t_max',
 'Db2t_std',
 'Dst_avg',
 'Dst_min',
 'Dst_max',
 'Dst_std',
 'Gb1t_avg',
 'Gb1t_min',
 'Gb1t_max',
 'Gb1t_std',
 'Gb2t_avg',
 'Gb2t_min',
 'Gb2t_max',
 'Gb2t_std',
 'Git_avg',
 'Git_min',
 'Git_max',
 'Git_std',
 'Gost_avg',
 'Gost_min',
 'Gost_max',
 'Gost_std',
 'Ya_avg',
 'Ya_min',
 'Ya_max',
 'Ya_std',
 'Yt_avg',
 'Yt_min',
 'Yt_max',
 'Yt_std',
 'Ws1_avg',
 'Ws1_min',
 'Ws1_max',
 'Ws1_std',
 'Ws2_avg',
 'Ws2_min',
 'Ws2_max',
 'Ws2_std',
 'Ws_avg',
 'Ws_min',
 'Ws_max',
 'Ws_std',
 'Wa_avg',
 'Wa_min',
 'Wa_max',
 'Wa_std',
 'Va1_avg',
 'Va1_min',
 'Va1_max',
 'Va1_std',
 'Va2_avg',
 'Va2_min',
 'Va2_max',
 'Va2_std',
 'Va_avg',
 'Va_min',
 'Va_max',
 'Va_std',
 'Ot_avg',
 'Ot_min',
 'Ot_max',
 'Ot_std',
 'Nf_avg',
 'Nf_min',
 'Nf_max',
 'Nf_std',
 'Nu_avg',
 'Nu_min',
 'Nu_max',
 'Nu_std',
 'Rs_avg',
 'Rs_min',
 'Rs_max',
 'Rs_std',
 'Rbt_avg',
 'Rbt_min',
 'Rbt_max',
 'Rbt_std',
 'Rm_avg',
 'Rm_min',
 'Rm_max',
 'Rm_std',
 'Pas_avg',
 'Pas_min',
 'Pas_max',
 'Pas_std',
 'Wa_c_avg',
 'Wa_c_min',
 'Wa_c_max',
 'Wa_c_std',
 'Na_c_avg',
 'Na_c_min',
 'Na_c_max',
 'Na_c_std']

In [49]:
# Splitting data based on wind turbine (1-4)

turbine_names = wind_data.Wind_turbine_name.unique()
turbine_1 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[0]]
turbine_2 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[1]]
turbine_3 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[2]]
turbine_4 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[3]]

# Cleaning each turbine data by removing Nan's in the wind speed column
turbine_1_clean = turbine_1[np.isfinite(turbine_1['Ws1_avg'])]
turbine_2_clean = turbine_2[np.isfinite(turbine_2['Ws1_avg'])]
turbine_3_clean = turbine_3[np.isfinite(turbine_3['Ws1_avg'])]
turbine_4_clean = turbine_4[np.isfinite(turbine_4['Ws1_avg'])]

# Defining the columns to keep
cols_2_keep = ['Date_time', 'P_avg', 'P_min', 'P_max', 'P_std', 'Ws1_avg', 'Ws1_min', 'Ws1_max', 'Ws1_std', 'Ws2_avg', 'Ws2_min', \
               'Ws2_max', 'Ws2_std', 'Ws_avg', 'Ws_min', 'Ws_max', 'Ws_std']

# Choosing only required columns
turbine_1_ultimate = turbine_1_clean.loc[:, cols_2_keep]
turbine_2_ultimate = turbine_2_clean.loc[:, cols_2_keep]
turbine_3_ultimate = turbine_3_clean.loc[:, cols_2_keep]
turbine_4_ultimate = turbine_4_clean.loc[:, cols_2_keep]

In [47]:
# Converting date_time column to datetime variable and picking out day,month,hour,minute and year

turbine_1_ultimate['Date_time'] = pd.to_datetime(turbine_1_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_1_ultimate['Day'] = turbine_1_ultimate['Date_time'].dt.day;
turbine_1_ultimate['Month'] = turbine_1_ultimate['Date_time'].dt.month;
turbine_1_ultimate['Hour'] = turbine_1_ultimate['Date_time'].dt.hour;
turbine_1_ultimate['Minute'] = turbine_1_ultimate['Date_time'].dt.minute;
turbine_1_ultimate['Year'] = turbine_1_ultimate['Date_time'].dt.year;

turbine_2_ultimate['Date_time'] = pd.to_datetime(turbine_2_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_2_ultimate['Day'] = turbine_2_ultimate['Date_time'].dt.day;
turbine_2_ultimate['Month'] = turbine_2_ultimate['Date_time'].dt.month;
turbine_2_ultimate['Hour'] = turbine_2_ultimate['Date_time'].dt.hour;
turbine_2_ultimate['Minute'] = turbine_2_ultimate['Date_time'].dt.minute;
turbine_2_ultimate['Year'] = turbine_2_ultimate['Date_time'].dt.year;

turbine_3_ultimate['Date_time'] = pd.to_datetime(turbine_3_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_3_ultimate['Day'] = turbine_3_ultimate['Date_time'].dt.day;
turbine_3_ultimate['Month'] = turbine_3_ultimate['Date_time'].dt.month;
turbine_3_ultimate['Hour'] = turbine_3_ultimate['Date_time'].dt.hour;
turbine_3_ultimate['Minute'] = turbine_3_ultimate['Date_time'].dt.minute;
turbine_3_ultimate['Year'] = turbine_3_ultimate['Date_time'].dt.year;

turbine_4_ultimate['Date_time'] = pd.to_datetime(turbine_4_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_4_ultimate['Day'] = turbine_4_ultimate['Date_time'].dt.day;
turbine_4_ultimate['Month'] = turbine_4_ultimate['Date_time'].dt.month;
turbine_4_ultimate['Hour'] = turbine_4_ultimate['Date_time'].dt.hour;
turbine_4_ultimate['Minute'] = turbine_4_ultimate['Date_time'].dt.minute;
turbine_4_ultimate['Year'] = turbine_4_ultimate['Date_time'].dt.year;

In [48]:
turbine_3_ultimate.head()

,Date_time,P_avg,P_min,P_max,P_std,Ws1_avg,Ws1_min,Ws1_max,Ws1_std,Ws2_avg,...,Ws2_std,Ws_avg,Ws_min,Ws_max,Ws_std,Day,Month,Hour,Minute,Year
50158,2013-01-01 03:00:00,1405.89,818.71002,2077.7400,259.67001,9.68,6.31,13.07,1.29,10.19,...,1.27,9.93,7.06,13.43,1.24,1,1,3,0,2013
50159,2013-01-01 04:40:00,1572.83,872.00000,2098.6599,265.51001,10.51,6.48,14.68,1.42,10.85,...,1.38,10.68,6.68,14.63,1.36,1,1,4,40,2013
50160,2013-01-01 04:50:00,1525.90,667.22998,2107.9299,397.91000,10.39,5.75,15.17,1.83,10.49,...,1.79,10.44,6.19,14.99,1.78,1,1,4,50,2013
50161,2013-01-01 05:00:00,1587.88,719.90997,2132.9500,323.89001,10.64,6.45,15.36,1.63,10.89,...,1.62,10.77,6.34,15.64,1.59,1,1,5,0,2013
50162,2013-01-01 05:30:00,1525.02,893.31000,2091.4199,293.53000,10.38,6.01,14.91,1.42,10.43,...,1.39,10.41,6.46,14.80,1.37,1,1,5,30,2013

In [29]:
len(turbine_1_clean)

209231

In [30]:
len(turbine_1)

210095

In [20]:
wind_data.Wind_turbine_name.unique()

array(['R80711', 'R80790', 'R80721', 'R80736'], dtype=object)