In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')
from IPython.display import display
from pandas import ExcelWriter

## Load the Data

In [26]:
wind_data = pd.read_csv('la-haute-borne-data-2013-2016.csv',sep=';')

In [27]:
# Splitting data based on wind turbine (1-4)

turbine_names = wind_data.Wind_turbine_name.unique()
turbine_1 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[0]]
turbine_2 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[1]]
turbine_3 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[2]]
turbine_4 = wind_data.loc[wind_data['Wind_turbine_name'] == turbine_names[3]]

# Cleaning each turbine data by removing Nan's in the wind speed column
turbine_1_clean = turbine_1[np.isfinite(turbine_1['Ws1_avg'])]
turbine_2_clean = turbine_2[np.isfinite(turbine_2['Ws1_avg'])]
turbine_3_clean = turbine_3[np.isfinite(turbine_3['Ws1_avg'])]
turbine_4_clean = turbine_4[np.isfinite(turbine_4['Ws1_avg'])]

# Defining the columns to keep
cols_2_keep = ['Date_time', 'P_avg', 'P_min', 'P_max', 'P_std', 'Ws1_avg', 'Ws1_min', 'Ws1_max', 'Ws1_std', 'Ws2_avg', 'Ws2_min', \
               'Ws2_max', 'Ws2_std', 'Ws_avg', 'Ws_min', 'Ws_max', 'Ws_std']

# Choosing only required columns
turbine_1_ultimate = turbine_1_clean.loc[:, cols_2_keep]
turbine_2_ultimate = turbine_2_clean.loc[:, cols_2_keep]
turbine_3_ultimate = turbine_3_clean.loc[:, cols_2_keep]
turbine_4_ultimate = turbine_4_clean.loc[:, cols_2_keep]

In [28]:
# Converting date_time column to datetime variable and picking out day,month,hour,minute and year
turbine_1_ultimate['Date_time'] = pd.to_datetime(turbine_1_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_1_ultimate['Day'] = turbine_1_ultimate['Date_time'].dt.day;
turbine_1_ultimate['Month'] = turbine_1_ultimate['Date_time'].dt.month;
turbine_1_ultimate['Hour'] = turbine_1_ultimate['Date_time'].dt.hour;
turbine_1_ultimate['Minute'] = turbine_1_ultimate['Date_time'].dt.minute;
turbine_1_ultimate['Year'] = turbine_1_ultimate['Date_time'].dt.year;

turbine_2_ultimate['Date_time'] = pd.to_datetime(turbine_2_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_2_ultimate['Day'] = turbine_2_ultimate['Date_time'].dt.day;
turbine_2_ultimate['Month'] = turbine_2_ultimate['Date_time'].dt.month;
turbine_2_ultimate['Hour'] = turbine_2_ultimate['Date_time'].dt.hour;
turbine_2_ultimate['Minute'] = turbine_2_ultimate['Date_time'].dt.minute;
turbine_2_ultimate['Year'] = turbine_2_ultimate['Date_time'].dt.year;

turbine_3_ultimate['Date_time'] = pd.to_datetime(turbine_3_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_3_ultimate['Day'] = turbine_3_ultimate['Date_time'].dt.day;
turbine_3_ultimate['Month'] = turbine_3_ultimate['Date_time'].dt.month;
turbine_3_ultimate['Hour'] = turbine_3_ultimate['Date_time'].dt.hour;
turbine_3_ultimate['Minute'] = turbine_3_ultimate['Date_time'].dt.minute;
turbine_3_ultimate['Year'] = turbine_3_ultimate['Date_time'].dt.year;

turbine_4_ultimate['Date_time'] = pd.to_datetime(turbine_4_ultimate['Date_time'],format = '%Y-%m-%dT%H:%M:%S')
turbine_4_ultimate['Day'] = turbine_4_ultimate['Date_time'].dt.day;
turbine_4_ultimate['Month'] = turbine_4_ultimate['Date_time'].dt.month;
turbine_4_ultimate['Hour'] = turbine_4_ultimate['Date_time'].dt.hour;
turbine_4_ultimate['Minute'] = turbine_4_ultimate['Date_time'].dt.minute;
turbine_4_ultimate['Year'] = turbine_4_ultimate['Date_time'].dt.year;

In [29]:
# Sorting the rows based on the date time

turbine_1_sorted = turbine_1_ultimate.sort_values(by = 'Date_time')
turbine_2_sorted = turbine_2_ultimate.sort_values(by = 'Date_time')
turbine_3_sorted = turbine_3_ultimate.sort_values(by = 'Date_time')
turbine_4_sorted = turbine_4_ultimate.sort_values(by = 'Date_time')

turbine_1_sorted.head()

,Date_time,P_avg,P_min,P_max,P_std,Ws1_avg,Ws1_min,Ws1_max,Ws1_std,Ws2_avg,...,Ws2_std,Ws_avg,Ws_min,Ws_max,Ws_std,Day,Month,Hour,Minute,Year
504939,2012-12-31 23:00:00,1072.6500,757.32001,1399.74,116.47000,8.770001,6.27,11.37,0.82,9.160000,...,0.87,8.960000,6.48,11.26,0.81,31,12,23,0,2012
16021,2012-12-31 23:10:00,1061.4301,660.95001,1398.45,142.82001,8.660000,6.01,11.37,1.02,9.120000,...,1.06,8.890000,5.78,11.65,1.01,31,12,23,10,2012
320605,2012-12-31 23:20:00,1144.7900,795.96002,1529.84,162.69000,8.940000,6.08,11.29,0.99,9.450000,...,1.08,9.190000,6.10,11.33,1.01,31,12,23,20,2012
16017,2012-12-31 23:30:00,1183.9800,763.56000,1701.45,194.56000,8.870000,5.96,12.15,1.14,8.979999,...,1.19,8.920000,6.05,12.15,1.13,31,12,23,30,2012
203,2012-12-31 23:40:00,1317.5500,818.96002,1854.86,215.72000,9.440000,6.06,12.31,1.12,9.510000,...,1.17,9.479999,6.14,12.48,1.10,31,12,23,40,2012

In [37]:
turbine_1_x = turbine_1_sorted.set_index('Date_time')
turbine_2_x = turbine_2_sorted.set_index('Date_time')
turbine_3_x = turbine_3_sorted.set_index('Date_time')
turbine_4_x = turbine_4_sorted.set_index('Date_time')

turbine_1_x.head()

,P_avg,P_min,P_max,P_std,Ws1_avg,Ws1_min,Ws1_max,Ws1_std,Ws2_avg,Ws2_min,...,Ws2_std,Ws_avg,Ws_min,Ws_max,Ws_std,Day,Month,Hour,Minute,Year
Date_time,,,,,,,,,,,,,,,,,,,,,
2012-12-31 23:00:00,1072.6500,757.32001,1399.74,116.47000,8.770001,6.27,11.37,0.82,9.160000,6.68,...,0.87,8.960000,6.48,11.26,0.81,31,12,23,0,2012
2012-12-31 23:10:00,1061.4301,660.95001,1398.45,142.82001,8.660000,6.01,11.37,1.02,9.120000,5.46,...,1.06,8.890000,5.78,11.65,1.01,31,12,23,10,2012
2012-12-31 23:20:00,1144.7900,795.96002,1529.84,162.69000,8.940000,6.08,11.29,0.99,9.450000,5.89,...,1.08,9.190000,6.10,11.33,1.01,31,12,23,20,2012
2012-12-31 23:30:00,1183.9800,763.56000,1701.45,194.56000,8.870000,5.96,12.15,1.14,8.979999,5.64,...,1.19,8.920000,6.05,12.15,1.13,31,12,23,30,2012
2012-12-31 23:40:00,1317.5500,818.96002,1854.86,215.72000,9.440000,6.06,12.31,1.12,9.510000,6.10,...,1.17,9.479999,6.14,12.48,1.10,31,12,23,40,2012

In [38]:
idx = turbine_1_x.index.intersection(turbine_2_x.index)
idx2 = turbine_3_x.index.intersection(idx)
idx3 = turbine_4_x.index.intersection(idx2)

In [39]:
turbine_1_x = turbine_1_x.loc[idx3]
turbine_2_x = turbine_2_x.loc[idx3]
turbine_3_x = turbine_3_x.loc[idx3]
turbine_4_x = turbine_4_x.loc[idx3]

In [40]:
print len(turbine_1_x)
print len(turbine_2_x)
print len(turbine_3_x)
print len(turbine_4_x)

turbine_1_x.head()

207789
207789
207789
207789

,P_avg,P_min,P_max,P_std,Ws1_avg,Ws1_min,Ws1_max,Ws1_std,Ws2_avg,Ws2_min,...,Ws2_std,Ws_avg,Ws_min,Ws_max,Ws_std,Day,Month,Hour,Minute,Year
Date_time,,,,,,,,,,,,,,,,,,,,,
2012-12-31 23:00:00,1072.6500,757.32001,1399.74,116.47000,8.770001,6.27,11.37,0.82,9.160000,6.68,...,0.87,8.960000,6.48,11.26,0.81,31,12,23,0,2012
2012-12-31 23:10:00,1061.4301,660.95001,1398.45,142.82001,8.660000,6.01,11.37,1.02,9.120000,5.46,...,1.06,8.890000,5.78,11.65,1.01,31,12,23,10,2012
2012-12-31 23:20:00,1144.7900,795.96002,1529.84,162.69000,8.940000,6.08,11.29,0.99,9.450000,5.89,...,1.08,9.190000,6.10,11.33,1.01,31,12,23,20,2012
2012-12-31 23:30:00,1183.9800,763.56000,1701.45,194.56000,8.870000,5.96,12.15,1.14,8.979999,5.64,...,1.19,8.920000,6.05,12.15,1.13,31,12,23,30,2012
2012-12-31 23:40:00,1317.5500,818.96002,1854.86,215.72000,9.440000,6.06,12.31,1.12,9.510000,6.10,...,1.17,9.479999,6.14,12.48,1.10,31,12,23,40,2012